DB_HOST=localhost
DB_PORT=5440
DB_NAME=taskflow
DATASOURCE_USERNAME=taskflow
DATASOURCE_PASSWORD=taskflow123
JPA_DDL_AUTO=update

TZ=Europe/Lisbon

LOGGING_LEVEL_ROOT=INFO
LOGGING_LEVEL_APP=DEBUG
LOGGING_LEVEL_SQL=DEBUG